.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

html {
    font-family: 'Patrick Hand', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anek Devanagari', sans-serif; 
}

p {
    color: white;
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 2em;
    border: solid 5px $color1;
    background-color: $color3;
    border-radius: 2em;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    border: solid 5px $color2;
    background-color: $color4;

    & p {
        color: black;
    }
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    background-color: $color5;
    border-radius: 50%;
}
