.btn__nxt__scalex:active + .circle__nxt__scalex {
    transform: scaleX(1.5);
}

.circle__nxt__scalex {
    transform: scale(0.8);
    transition: transform 4s;
}

.btn__nxt__scaley:active + .circle__nxt__scaley {
    transform: scaleY(1.5);
}

.circle__nxt__scaley {
    transform: scale(0.8);
    transition: transform 4s;
}

.btn__nxt__scalexy:active + .circle__nxt__scalexy {
    transform: scale(1.5, 0.5);
}

.circle__nxt__scalexy {
    transform: scale(0.8);
    transition: transform 4s;
}

