.melted__scale {
    background-color: $color3;
    transform: scale(1);
    transition: background-color 0.7s, transform 1.2s;

    &__hover:hover {
        background-color: $color2;
        transform: scale(1.3);

    }
}